.__headerLogo {
    height: 70px;
        width: 250px;
    object-fit: contain;
}

.__headerHolder {
    display: flex;
    justify-content: space-between !important;
}

.__headerVndr {
    cursor: pointer;
    height: 70px;
    width: 70px;
    object-fit: contain;
}

.__headerButtons,
.__headerButtons:hover,
.__headerButtons:active,
.__headerButtons:focus {
    background: transparent;
    color: #4c4c4c;
    border-radius: 20px;
}