.home_holder {
  min-height: 100vh;
}

.header_custom {
  text-align: center;
  margin-top: 2%;
  padding: 0 2% 0 2%;
  font-size: 30px;
}

.header_colored {
  color: #2e63a3;
}

.sub_header {
  text-align: center;
  font-size: 14px;
  padding: 0 2% 0 2%;
  color: #a1a1a1;
}

.set_center {
  display: flex;
  position: relative;
  justify-content: center;
}

.input_group {
  width: 80%;
  align-items: center;
  margin-top: 2%;
  border-radius: 25px;
  background-color: #f9f9f9;
}

.search_icon {
  position: absolute;
  left: 85%;
  top: 50%;
  z-index: 5;
  color: #f9f9f9;
  background-color: transparent;
  cursor: pointer;
}

.search_custom {
  border-radius: 25px;
  background-color: #f9f9f9;
  color: #888888 !important;
  height: 52px;
  padding: 0 0 0 7%;
  overflow-x: scroll;
  text-overflow: ellipsis;
}

@media all and (max-width: 768px) {
  .dropdown_custom {
    padding: 0 6% 0 8% !important;
  }

  .search_custom {
    padding: 0 0 0 12% !important;
  }
}

@media all and (max-width: 576px) {
  .header_custom {
    font-size: 21px;
  }

  .sub_header {
    font-size: 13px;
  }

  .dropdown_custom {
    padding: 0 18% 0 18% !important;
    min-width: 100% !important;
    border-radius: 20px !important;
  }

  .search_custom {
    padding: 0 0 0 18% !important;
    min-width: 100% !important;
    margin-top: 4%;
    border-radius: 20px !important;
  }

  .search_icon {
    left: 4% !important;
    top: 68% !important;
    width: 20px;
    height: 20px;
  }

  .input_group:not(.has-validation)
    > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu),
  .input_group:not(.has-validation) > .dropdown-toggle:nth-last-child(n + 3),
  .input_group
    > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(
      .valid-feedback
    ):not(.invalid-tooltip):not(.invalid-feedback) {
    font-size: 13px !important;
  }
}
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #0c9;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}

.my-float {
  margin-top: 22px;
}

.filter {
  margin-top: 2%;
}
.dropdownContainer {
  position: relative;
  margin-top: 1%;
}
.dropdownHolder {
  position: absolute;
  width: 300px;
  height: 400px;
  left: 65%;
  border-radius: 20px;
  overflow-y: scroll;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  padding: 0 2% 2% 2%;
}
